<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-libs/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/vue-toast.min.css" charset="utf-8">
    <script type="text/javascript" src="/static/vuejs/vue.js"></script>
    <script type="text/javascript" src="/static/vuejs/vue-router.js"></script>
    <script type="text/javascript" src="/static/vuejs/vue-resource.min.js"></script>
    <script type="text/javascript" src="/static/vuejs/vue-toast.min.js"></script>
    <script type="text/javascript" src="/static/js-libs/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js-libs/moment.min.js"></script>
    <script src="/static/bootstrap-libs/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="app">
        <div>
            <div class="col-xs-12 float-none">
                <div class="header-container">
                    <div class="col-xs-3 header-search">
                        <div class="logo-image"></div>
                        {% comment %}<img src="static/images/logo.png">{% endcomment %}
                    </div>
                    <div class="header-menu col-xs-2">
                        <router-link to='/friends' class="menu-link-color">
                            <span>Friends</span>
                        </router-link>
                    </div>
                    <div class="header-menu col-xs-2">
                        <a href="javascript:void(0)" class="menu-link-color">
                            <span>Groups</span>
                        </a>
                    </div>
                    <div class="header-menu col-xs-2">
                        <router-link to='/find' class="menu-link-color">
                            <span>Find</span>
                        </router-link>
                    </div>
                    <div class="header-sign-in col-xs-2">
                        <div>
                            <router-link to="/login" class="menu-link-color">
                                Login
                            </router-link>
                        </div>
                        <div>
                            <router-link to="/register" class="menu-link-color">
                                Registration
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <router-view></router-view>
        </div>
    </div>


    <!-- import custom script -->
    <script type="text/javascript"  src="/static/js/supporting/filters.js"></script>
    <script type="text/javascript"  src="/static/js/supporting/directives.js"></script>
    <script type="text/javascript"  src="/static/js/authorization/login-component.js"></script>
    <script type="text/javascript"  src="/static/js/authorization/register-component.js"></script>
    <script type="text/javascript"  src="/static/js/user-page/user-page.js"></script>
    <script type="text/javascript"  src="/static/js/main-page/main-page-child-components/profile-component.js"></script>
    <script type="text/javascript"  src="/static/js/main-page/main-page-child-components/navigation-component.js"></script>
    <script type="text/javascript"  src="/static/js/main-page/main-page-child-components/user-wall-component.js"></script>
    <script type="text/javascript"  src="/static/js/main-page/main-page-component.js"></script>
    <script type="text/javascript"  src="/static/js/find-page/find-page-child-components/main-search-component.js"></script>
    <script type="text/javascript"  src="/static/js/find-page/find-page-child-components/filter-component.js"></script>
    <script type="text/javascript"  src="/static/js/find-page/find-page-component.js"></script>
    <script type="text/javascript"  src="/static/js/friends-page/friends-page-child-components/friends-navigation-component.js"></script>
    <script type="text/javascript"  src="/static/js/friends-page/friends-page-child-components/friends-list-component.js"></script>
    <script type="text/javascript"  src="/static/js/friends-page/friends-main-page.js"></script>
    <script type="text/javascript"  src="/static/js/constant.js"></script>
    <script type="text/javascript"  src="/static/js/app.js"></script>
</body>
</html>