a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #362f99;
}

/*a:active {
    text-decoration: none;
}*/
.base-max-width {
    max-width: 1600px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d9d9d9;
    margin: 1em 0;
    padding: 0;
}

ul {
    display: block;
}

.padding-none {
    padding: 0 !important;
}

.bold {
    font-weight: bold;
}

button:focus {
    outline:0 !important;
    background-color: transparent !important;
}

button:active {
    outline: none !important;
    border: none !important;
}

.btn:focus {
    outline:0 !important;
}

.btn:active {
    outline:0 !important;
}

.underline {
    text-decoration: underline !important;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
   text-align: left;
}

.text-align-right {
    text-align: right;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-10 {
   margin-bottom: 10px;
}
.m-t-5 {
    margin-top: 5px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-5 {
    padding-top: 5px;
}

.p-b-5 {
    padding-bottom: 5px;
}

.btn:visited {
    color: #fff;
}

.btn:active{
    color: #fff;
}

.float-none {
    float: none;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.header-container {
    height: 55px;
    padding: 5px 0 10px 0;
    #background-color: #6b53ff;
    background: linear-gradient(to top, #b605ff, #9a8dd7);
    border-radius: 10px;
    margin-bottom: 5px;
}

.footer {
    position: relative;
    bottom: 0;
    height: 30px;
    background-color: #6b53ff;
}

.profile-container {
    height: 650px;
    float: left;
    padding-left: 3%;
    padding-right: 0;
    #border: 1px solid #111;
}

.inner-profile-container {
    padding: 15px 10px 15px 10px;
    border: 1px solid #111;
    border-radius: 10px;
}

.main-content-container {
    height: 650px;
    #border: 1px solid #111;
}

.navigate-container {
    height: 650px;
    float: left;
    padding: 0 3% 0 0;
    #border: 1px solid #111;
}

.m-l-10 {
    margin-left: 10px;
}

.m-r-10 {
    margin-right: 10px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-r-10 {
    padding-right: 10px;
}

.uppercase {
    text-transform: uppercase;
}
.header-search {
    position: relative;
    padding: 5px;
    margin-left: 5%;
    height: 100%;
}

.header-menu {
    position: relative;
    border-left: 1px dotted rgba(47, 47, 47, 0.9);
    text-align: center;
    padding: 5px 5px 10px 5px;
    font-size: 18px;
    font-weight: 600;
    color: #dedede;
}

.header-menu a {
    color: #dedede;
}

.header-sign-in {
    position: relative;
    border-left: 1px dotted rgba(47, 47, 47, 0.9);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #dedede;
}

.input-search {
    #height: 30px;
    background-color: #dedede;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.search-button {
    background-color: #362f99;
    border: none;
    color: #fff;
    font-size: 18px;
    margin-left: 5px;
}

.search-button:hover {
    color: #fff;
    box-shadow: 0 0 10px rgb(17, 33, 255); /* Параметры тени */
}

.search-button:focus {
    color: #fff;
}

.menu-link-color {
    color: #dedede;
}

.menu-link-color:hover {
    color: #362f99;
}

.menu-link-color:active {
    color: #fff;
}

.input-form {
    background-color: #dedede;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.error-message {
    margin: 5px 0 0 5px;
    color: red;
    font-size: 18px;
    font-weight: 500;
}

.user-avatar {
    height: 160px;
    max-width: 160px;
    margin: auto;
    border: solid 1px #000;
    border-radius: 50%;
}

.user-image {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.row-left {
    width: 50%;
    float:left;
    text-align: right;
    padding: 0 15px 0 15px;
}

.row-right {
    width: 50%;
    float:left;
    text-align: left;
    padding: 0 15px 0 15px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f16 {
    font-size: 16px;
}

.f15 {
    font-size: 15px;
}

.radio-label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 30px!important;
  margin-right: 15px;
  font-size: 18px;
}

.radio-label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #aaa;
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .3), 0 1px 0 0 rgba(255, 255, 255, .8);
}

input[type=radio] {
  display: none;
}

.radio label:before {
  border-radius: 10px;
}

.radio {
    display: inline-block;
    height: 40px;
}

input[type=radio]:checked + .radio-label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 20px;
}

.main-text-color {
    color: #362f99;
}

li {
    list-style-type: none;
}

.information-title {
    font-weight: 600;
    text-decoration: underline;
}

.information-field {
    width: 45%;
    margin-left: 3%;
    #padding-right: 15px;
    margin-bottom: 10px;
}

.information-field:before {
    content: '';
    display: inline-block;
    border: 2px solid #362f99;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    margin-right: 7px;
    margin-bottom: 2px;
}

.navigation-links-container {
    height: 400px;
    max-width: 300px;
    padding: 15px;
    border-radius: 10px;
    background-color: #362f99;
}

.navigate-header {
    text-align: center;
    color: #dedede;
}

.navigate-link {
    font-size: 18px;
    font-weight: 600;
    padding: 0 10px 10px 5%;
    margin: 10px 0 10px 0;
}

.navigate-link:hover {
    padding: 3px 0 3px 20px;
    font-size: 22px;
    #background-color: #dedede;
    transform: scale(1.1);
    background: linear-gradient(to right, #dedede, #9a8dd7);
}

.navigate-link:hover .menu-link-color {
    color: rgb(17, 33, 255);
    cursor: pointer;
}

.navigation-links-container a:visited {
    text-decoration: none;
    color: #dedede;
}

.post-textarea {
    font-size: 16px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.post-textarea:focus {
    border: 2px solid #b605ff;
    box-shadow: 0 0 10px rgb(96, 100, 255);
}

.post-container {
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #000;
    height: 120px;
}

.user-wall-container {
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #000;
    margin-bottom: 10px;
    min-height: calc(100vh - 220px);
}

.user-post {
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 15px;
}

.user-post-avatar {
    margin: 0 15px 10px 5px;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-search .user-post-avatar {
    margin: 0 25px 10px 5px;
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.post-date {
    position: relative;
    right: 10px;
    width: 50%;
}

.like-post-text {
    color: #9810d4;
    font-weight: 600;
}

.remove-post {
    position: absolute;
    right: 50px;
    font-size: 20px;
    color: #dedede;
}

.search-input-container {
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    margin-bottom: 15px;
    border: 1px solid #000;
    height: 120px;
}

.search-input-container .input-search {
    background-color: #dedede;
    padding: 8px 15px 8px 15px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
}

.user-search {
    padding: 10px;
    border: 1px solid;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.add-user {
    position: absolute;
    right: 50px;
    margin-top: 10px;
}

.search-filter-input {
    background-color: #dedede;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

.waiting-response {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 5px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #dedede;;
    color: #337ab7;
    border: 1px solid #337ab7;
}

.logo-image {
    background-image: url('/static/images/logo.png');
    background-size: 200px 40px;
    background-repeat: no-repeat;
    max-width: 250px;
    max-height: 80px;
    height: 55px;
    width: 190px;
}
